/* container::  */
.section-container {
  @apply container px-1 max-w-[1200px] md:px-[.15rem];
}

/* paragraphs::  */
.para-1 {
  @apply text-base leading-8 font-raleway;
}
.para-2 {
  @apply text-sm leading-5 font-raleway;
}
.para-3 {
  @apply text-xs leading-5 font-raleway;
}

/* gradient */

.main-gradient-1 {
  @apply bg-gradient-to-r from-secondary to-primary text-white;
}

.main-text-gradient {
  @apply bg-gradient-to-b from-primary to-secondary text-transparent bg-clip-text;
}
