/* container::  */
.section-container {
  @apply container px-4 max-w-[1200px] md:px-[.5rem];
}

/* paragraphs::  */
.para-1 {
  @apply text-sm leading-6 font-raleway;
}
.para-2 {
  @apply text-xs leading-5 font-raleway;
}
.para-3 {
  @apply text-[10px] leading-5 font-raleway font-semibold;
}

/* headings::  */
h1 {
  @apply text-[28px] font-medium font-Poppins;
}
h2 {
  @apply text-[26px] font-medium font-Poppins;
}
h3 {
  @apply text-[20px] font-medium font-Poppins;
}
h4 {
  @apply text-[18px] font-semibold font-Poppins;
}

/* gradient */

.main-gradient-1 {
  @apply bg-gradient-to-r from-secondary to-primary text-white;
}

.main-text-gradient {
  @apply bg-gradient-to-b from-primary to-secondary text-transparent bg-clip-text;
}

/* form fields :: */

/* Label styling */
label {
  @apply block text-sm font-normal text-foreground font-raleway;
}

/* Input and textarea styling */
input,
textarea {
  @apply w-full px-0.5 border-0 border-b border-tertiary-2 outline-none transition-colors duration-300 ease-in bg-background font-raleway text-xs;

  &:focus,
  &:hover {
    @apply border-b-2 border-b-primary;
  }
}
